@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        Όνομα
                    </td>
                    <td>
                        Email
                    </td>
                </tr>
                <tr>
                    <td>
                        Νίκος Διάκος
                    </td>
                    <td>
                        nikolaosdiakos@gmail.com
                    </td>
                </tr>
                <tr>
                    <td>
                        Ευριπίδης Κατσάνος
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Γιώργος Μητρόπουλος
                    </td>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        Κυριάκος Μακρής
                    </td>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        Χρήστος Μηζηκάκης
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
    <div class="col-md-4">
    </div>
</div>
